body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.container img {
  min-height: 37rem;
  max-height: 38rem;
  min-width: 34rem;
  max-width: 34rem;
  object-fit: cover;
  z-index: 2;
  transform: translate(6.5rem, 4rem);
  box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.523);
}
.container {
  width: 100%;
  display: flex;
}
.container > h1 {
  position: absolute;
  font-size: 400%;
  z-index: 3;
  font-weight: 100;
  text-shadow: 3px 3px 5px rgba(79, 79, 79, 0.58);
  transform: translate(8rem, 33rem);
}
.white-txt {
  color: white;
  font-family: "Playfair Display", serif;
}
.blue_box {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 120vh;
  width: 100vw;
  background: rgb(7, 140, 174);
  box-shadow: 3px 3px 5px rgb(180, 179, 179);
}

.tilt {
  transform: skewY(-13deg) translateY(-20rem);
}

.text_box {
  padding: 15rem 3.5rem 0 6.5rem;
  margin: 8rem 6rem 0 2rem;
  padding-block: 1rem;
  z-index: 1;
  background: white;
  box-shadow: 3px 3px 15px rgba(145, 145, 145, 0.724);
}

.text_box h1 {
  font-size: 300%;
  font-family: "Playfair Display", serif;
  font-weight: 100;
  color: black;
  margin: 0;
  margin-top: 1rem;
}

.text_box p {
  margin-block-end: 3rem;
  font-weight: 300;
  font-size: 150%;
  line-height: 2.3rem;
  color: rgb(89, 88, 88);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.text_box svg {
  cursor: pointer;
  max-height: 2.4rem;
  text-decoration: none;
}

.text_box .icons {
  padding-block: 1rem;
  margin-inline-end: 10rem;
  width: 100%;
  gap: 1.5rem;
  display: flex;
  justify-content: end;
}
