body {
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 500vw;
}
.container img {
  position: relative;
  min-height: 83vh;
  max-height: 82vh;
  min-width: 37vw;
  max-width: 37vw;
  object-fit: cover;
  z-index: 2;
  transform: translate(7vw, 8vh);
  box-shadow: 0.3vh 0.5vh 1vh rgba(100, 100, 100, 0.523);
}
.container {
  width: 100%;
  display: flex;
}
.container > h1 {
  position: absolute;
  font-size: 4.5vw;
  z-index: 3;
  font-weight: 100;
  text-shadow: 0vh 0.8vh 1vh rgba(79, 79, 79, 0.58);
  transform: translate(8.5vw, 70vh);
}
.white-txt {
  color: white;
  font-family: "Playfair Display", serif;
}
.blue_box {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 120vh;
  width: 100vw;
  background: rgb(7, 140, 174);
  box-shadow: 0vh 0.8vh 1vh rgb(180, 179, 179);
}
.blue_box.half {
  height: 20vh;
}
.tilt {
  transform: skewY(-13deg) translateY(-45vh);
}

.text_box {
  padding: 15vh 5vw 0 8vw;
  margin: 16vh 6vw 0 0.5vw;
  padding-block: 2vh;
  z-index: 1;
  background: white;
  box-shadow: 0.2vh 0.4vh 1vh rgba(145, 145, 145, 0.724);
}
.text_box img {
  display: none;
}
.text_box h1 {
  font-size: 7vh;
  font-family: "Playfair Display", serif;
  font-weight: 100;
  color: black;
  margin: 0;
  margin-top: 4vh;
}

.text_box p {
  margin-block-end: 7vh;
  font-weight: 300;
  font-size: 1.7vw;
  line-height: 5vh;
  color: rgb(89, 88, 88);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.text_box svg {
  cursor: pointer;
  max-height: 5vh;
  text-decoration: none;
}

.text_box .icons {
  padding-block: 1vh;
  width: 100%;
  gap: 2vw;
  display: flex;
  justify-content: end;
}

/* Medium Screens/iPad size */
@media screen and (600px < width <= 850px) {
  .container img {
    min-height: 58vh;
    max-height: 58vh;
    min-width: 45vw;
    max-width: 45vw;
    transform: translate(4.5vw, 6vh);
  }
  .text_box {
    float: left;
    position: absolute;
    margin-inline: 10vw;
  }
  .text_box img {
    float: left;
    padding-inline-end: 8vw;
    padding-block-end: 6.5vh;
    display: block;
    min-height: 40vh;
    max-height: 40vh;
    min-width: 25.5vw;
    max-width: 25.5vw;
    box-shadow: none;
  }
  .text_box h1 {
    margin-block-start: 8vh;
    font-size: 5vw;
    text-align: center;
  }
  .text_box p {
    font-size: 2.5vw;
    font-weight: 300;
    line-height: 4vh;
    margin-block-end: 3vh;
  }
  .text_box .icons {
    justify-content: center;
  }
  .tilt {
    transform: skewY(-18deg) translateY(-63vh);
  }
  .container > h1 {
    font-size: 7vw;
    transform: translateX(42vw);
  }
}

/* Mobile/Smartphone size */
@media screen and (max-width: 600px) {
  .blue_box {
    background: yellow;
  }
}
